<html>
<div class="wrapper fadeInDown">
    <div id="formContent" *ngIf="sign_in">
      <!-- Tabs Titles -->
      <h2 class="active"> Sign In </h2>
      <h2 class="inactive underlineHover" (click)="signUp()">Sign Up </h2>
  
      <!-- Icon -->
      <!-- <div class="fadeIn first">
        <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
      </div> -->
  
      <!-- Login Form -->
      <form autocomplete="off">
        <input type="text" id="email" class="fadeIn second" name="login" placeholder="email">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="button" class="fadeIn fourth" value="Log In" (click)="signInWithCognito()">
      </form>

      <!-- <p *ngIf="login_failed" class="input_error">Please enter a correct email or password.</p> -->
      <p id="alert" class="input_error" (change)="alertMessage">{{alertMessage}}</p>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <!-- <a class="underlineHover" href="#">Forgot Password?</a> -->
        <a class="underlineHover" href="http://13.38.41.16:4202/">Are you a SecCom Manager?</a>
      </div>
  
    </div>


    <div id="formContent" *ngIf="!sign_in">
        <!-- Tabs Titles -->
        <h2 class="inactive underlineHover" (click)="signUp()"> Sign In </h2>
        <h2 class="active">Sign Up</h2>
    
        <!-- Icon -->
        <!-- <div class="fadeIn first">
          <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
        </div> -->
    
        <!-- Login Form -->
        <form autocomplete="off">
            <div *ngIf="!code_validation">
              <input type="text" id="name" class="fadeIn second" name="name" placeholder="name">
              <input type="text" id="email" class="fadeIn second" name="login" placeholder="email">
              <input type="text" id="address" class="fadeIn second" name="login" placeholder="address">
              <input type="text" id="cellphone" class="fadeIn second" name="login" placeholder="phone number">
              <input type="text" id="birthday" class="fadeIn second" name="login" placeholder="birthday" onfocus="(this.type='date')" onBlur="(this.type='text')">
              <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
              <input type="password" id="password_again" class="fadeIn third" name="login" placeholder="repeat password">
              <input type="button" class="fadeIn fourth" value="Sign up" (click)="signUpWithCognito()">
            </div>

            <div *ngIf="code_validation">
              <input type="text" id="code" class="fadeIn second" name="code" placeholder="Enter the verification code">
              <input type="button" class="fadeIn fourth" value="Validate" (click)="confirmSignUp()">
            </div>
        </form>

        
        <p *ngIf="blank_space" class="input_error">Please, fill in all the fields</p>
        <p id="alert" class="input_error" >{{alertMessage}}</p>

        <!-- Remind Passowrd -->
        <div id="formFooter">
          <!-- <a class="underlineHover" href="#">Forgot Password?</a> -->
          <a class="underlineHover" href="http://15.236.180.177:4202/">Are you a SecCom Manager?</a>
          
        </div>
    
      </div>
</div>
</html>