<div class="main">

    <h1>Your Properties</h1>

    <ul class="cards">

        <li class="cards_item" *ngFor="let p of property_list.reverse()">
            <div class="card" (click)="redirect(p.id)">

                <div class="card_image">
                    <img class="responsive" src="../../../assets/img/property.png">
                </div>

                <div class="card_content">
                    <h2 class="card_title">{{p.name}}</h2>
                </div>

            </div>
        </li>

    </ul>
</div>