<div class="main">

    <h1>Your Properties</h1>

    <ul class="cards">

        <li class="cards_item">
            <div class="card" (click)="redirect(1)">

                <div class="card_image">
                    <img class="responsive" src="../../../assets/img/property.png">
                </div>

                <div class="card_content">
                    <h2 class="card_title">Property #1</h2>
                </div>

            </div>
        </li>

        <li class="cards_item">
            <div class="card">

                <div class="card_image">
                    <img class="responsive" src="../../../assets/img/property.png">
                </div>

                <div class="card_content">
                    <h2 class="card_title">Property #2</h2>
                </div>
                
            </div>
        </li>

        <li class="cards_item">
            <div class="card">

                <div class="card_image">
                    <img class="responsive" src="../../../assets/img/add_property.png">
                </div>

                <div class="card_content">
                    <h2 class="card_title">Add Property</h2>
                </div>
                
            </div>
        </li>

    </ul>
</div>