
<div class="row justify-content-center mt-5">
    <div class="col-lg-10 ">
        <h1 class="mb-5"> Your Profile </h1>

        <div class="row">
            <div class="col-sm-6">
                <p>Name</p>
            </div>
            <div class="col-sm-6">
                <p class="text-muted mb-0">{{owner.name}}</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-6">
                <p>Email</p>
            </div>
            <div class="col-sm-6">
                <p class="text-muted mb-0">{{owner.email}}</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-6">
                <p >Address</p>
            </div>
            <div class="col-sm-6">
                <p class="text-muted mb-0">{{owner.address}}</p>
            </div>
        </div>

        <hr>


        <div class="row">
            <div class="col-sm-6">
                <p >Phone Number</p>
            </div>
            <div class="col-sm-6">
                <p class="text-muted mb-0">{{owner.cellphone | slice:0:4}} {{owner.cellphone | slice:4:7}} {{owner.cellphone | slice:7:10}} {{owner.cellphone | slice:10:13}}</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-6">
                <p >Notification type</p>
            </div>
            <div class="col-sm-6">
                <p class="text-muted mb-0">{{owner.notification_type}}</p>
            </div>
        </div>
    </div>
</div>