<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <div *ngIf="owner_name">
            <img class="avatar mat-elevation-z8" src="../../../assets/img/default.jpg"/>

            <h4 class="name">{{owner_name}}</h4>
            <p class="designation">Property Owner</p>
        </div>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/property">
            <mat-icon>home</mat-icon>
            <span>Properties</span>
        </button>

        <button mat-button class="menu-button" routerLink="/intrusion">
            <mat-icon>notification_important</mat-icon>
            <span>Intrusions</span>
        </button>

        <button mat-button class="menu-button" routerLink="/profile">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" (click)="signOutWithCognito()">
            <mat-icon>login</mat-icon>
            <span>Log Out</span>
        </button>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content mat-elevation-z8" >
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>